{% extends 'base.html.twig' %}

{% block title %}Ajout d'un SA{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset("style/ajoutSA.css") }}">
{% endblock %}

{% block header %}
    <div class="header-titre">
        <p id="header-titre"><strong>AJOUTER UN SA</strong></p><div id="bar"></div><p id="header-titre-batiment">BATIMENT : <strong>{{ batiment_nom }}</strong></p>
    </div>
{% endblock %}

{% block body %}
    <div id="page-body">
        <div class="form-content container">
            {{ form_start(form, {'attr': {'id': 'ajoutSAForm'}}) }}
            <div class="form-part">
                <div class="form-part-title">
                    <p>Informations principales du SA :</p>
                </div>
                {{ form_widget(form) }}
            </div>
            {{ form_end(form) }}
        </div>

        <div id="edit-button-container">
            <a id="delete-btn" class="button-type1 button-cancel" href="{{ path("app_systeme_acquisition") }}">
                ANNULER
                <!-- xmark icon -->
                <svg class="boutonSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6
                105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0
                45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256
                342.6 150.6z"/>
                </svg>
            </a>
            <button type="submit" form="ajoutSAForm" id="edit-btn" class="button-type1 button-confirm">
                VALIDER
                <!-- check icon -->
                <svg class="boutonSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3
                0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5
                45.3 0z"/>
                </svg>
            </button>
        </div>
    </div>
{% endblock %}
